.content-area {
    position: relative;
    
    .shadow-box {
        background: #fff;
        border-radius: 1px;
        box-shadow: rgba(156, 156, 156, 0.75) 3px 3px 10px 0;
        overflow: hidden;

        &:not(:last-child), .row.bottom-margin > div:not(:last-child) {
            margin-bottom: 1.5rem;
        }
        
        .nav {
            a {
                font-size: 1.1rem;
                font-weight: 700;
                color: #444;

                &.active {
                    border-bottom: 2px solid #e5e9fe;
                }
            }
        }
    }

    .custom-list {
        li {
            margin-bottom: .5rem;

            label {
                width: 120px;
                margin-right: 1rem;
                font-weight: 600;
            }

            label, span {
                float: left;
            }
        }
    }

    button, .anchor {
        &:not(.dropdown-item) {
            font-weight: 700;
            color: $secondhand-gray;
            text-transform: uppercase;
            transition: all .4s ease-in-out;
    
            &:hover {
                text-decoration: none;
            }
    
            &.btn {
                &:hover, &.active {
                    background: rgba($light-gray, .3);
                    color: $secondhand-gray;
                }
            }                
        }
    }

    .toolbar-root {
        .bulk-actions-toolbar {
            height: 0;
            overflow-y: hidden;
            z-index: 1;

            &.show {
                height: 100%;
            }
        }

        .filter-toolbar {
            height: 60px;
        }        
    }

    .content-body {
        .row.group {
            display: block;
            padding: 10px;

            &:nth-child(even) {
                background: whitesmoke;
            }                
        }

        .answer {
            background: rgba(#3490dc, .1);
            color: #434343;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .multi-answers {
            .row:not(:last-child) {
                margin-bottom: .5rem;
            }
        }
    }

    .table th, .table td {
        vertical-align: middle;
    }
    
    .table.vertical-top th, .table.vertical-top td {
        vertical-align: top;
    }

    .toolbar {
        background: #eaecf7;
        color: #3f51b5;
        transition: all .4s ease-in-out;
    }

    .sub-heading {
        font-weight: 700;
    }
    
    tr.debit > td {
        background-color: rgba(252, 0, 0, 0.05);
    }    
}