// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Layout
@import 'layout/index';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Reset
p, label, ul, li, form, dl, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

textarea {
	resize: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

a.no-style {
	color: $gray-900;
}

.text-whitesmoke {
    color: whitesmoke;
}

.text-black {
    color: #000;
}

.bg-whitesmoke {
    background: whitesmoke;
}

.pointer {
    cursor: pointer;
    &.bg-hover:hover {
        background-color: rgba(0, 0, 0, 0.07);
    }
}

.move {
    cursor: move;
}

.grab {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}

a:hover {
    text-decoration: none;
}

input:focus, button:focus, a:focus, textarea:focus {
    box-shadow: none !important;
}

.rating.checked {
    color: orange;
}

.flexer {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.flexer2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

@import './form';
@import './fancy-input';
@import './content-area';
@import './_bootstrap-override';
@import './uploader.scss'
